{% extends "layout.html" %}
{% block content %}
{#    {{ super() }} 不加这个，就会覆盖掉原来layout文件的中的content的内容#}
    shine
    {{ data.age }}
    {% if data.age < 18 %}
        {{ data.name }}
    {% elif data.age < 20 %}
        {#   设置默认值 但是这种默认值，是要前面的查询不到的时候，后面的默认值才会启动的，哪怕前面的值为None或者是''，都是
可以取到值的。|的意思就是左边如果有不存在的变量，则默认执行右边的（类似于管道命令 - linux） , default 会接收前面的参数，如果前面的
参数不存在，则去取default里面的值，如果default的参数的值不存，则继续抛给下一个，没得抛的话，则产生异常#}
        {#  {{ data.test | default(data.test) | default('测试') }}      #}
        {#   长度     #}
        {{ data | length() }}
        {{ data.name | default('未名') }}
        do something

        {#
        消息闪现的用法, config要设置SECRET_KEY参数，防止串改数据，
        这里定义的 set message 有效的作用域在这个block中

        如果要限定特定的作用域则需要用到with
        #}
        {% set message =  get_flashed_messages() %}
        {{ message }}

        {% with messages = get_flashed_messages() %}
            {{ messages }}
        {% endwith %}

    {% else %}
        {{ data.age }}
    {% endif %}
{% endblock %}